/* Body */
body { margin: 0; background-color: rgb(100, 100, 100)}

/* App Header */
.app-header {
    height: 150px;
    line-height: 150px;
    border-bottom: rgb(42, 207, 255) solid;
    background-color: white
}

.app-header .app-header--title {
    font-size: 60px;
    padding-left: 30px;
}

/* Section Header */
.section-header {
  height: 100px;
  line-height: 100px;
  border-top: thin rgb(42, 207, 255) solid;
  border-bottom: thin rgb(42, 207, 255) solid;
  background-color: white
}

.section-header .section-header--title {
    font-size: 40px;
    padding-left: 20px;
}

/* Text Section */
.text-block {
  background-color: white
}
