/* Body */
body { margin: 0; background-color: rgba(100, 100, 100, 0.5)}

/* App Header */
.app-header {
  width: 100%;
  height: 150px;
  line-height: 150px;
  border-bottom: rgb(42, 207, 255) solid;
  background-color: white
}

.app-header .app-header--title {
  font-size: 60px;
  padding-left: 60px;
}

/* Section Header */
.section-header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-top: thin rgb(42, 207, 255) solid;
  border-bottom: thin rgb(42, 207, 255) solid;
  background-color: white
}

.section-header .section-header--title {
  font-size: 40px;
  padding-left: 40px;
}

/* Text Section */
.text-block {
  width: 70%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Markdown */
.markdown-div {
  background-color: white;
  text-align: center;
  padding-top: 30;
  padding-bottom: 30;
}

.markdown-text {
  width: 70%;
  background-color: white;
  text-align: left;
  display: inline-block;
}
